<!DOCTYPE html>
<html ng-app="cloudFolder">
<head>

<meta charset="utf-8">

<title>Keep Upload</title>

<link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="libs/bootstrap/css/bootstrap-table.css" rel="stylesheet">
<link href="libs/css/style_protected.css" rel="stylesheet">
<link href="libs/css/dropzone.css" rel="stylesheet">
<link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<script src="libs/angular.min.js"></script>
<script src="libs/jquery-1.12.1.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.min.js"></script>
<script src="libs/bootstrap/js/bootstrap-table.js"></script>
<script src="libs/bootstrap/js/ui-bootstrap-1.2.5.min.js"></script>
<script src="libs/angular-prompt.min.js"></script>
<script src="libs/angular-route.min.js"></script>
<script src="libs/angular-cookies.min.js"></script>
<script src="libs/angular-md5.js"></script>
<script src="js/appFolder.js"></script>
<script src="js/controllers/cloudFolderController.js"></script>
<style>
.modal {
	display: block;
	top: 20%;
}

.filterable {
	margin-top: 15px;
}

.filterable .panel-heading .pull-right {
	margin-top: -20px;
}

.filterable .filters input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
	color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #333;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
}

.btn {
	text-transform: capitalize;
}

</style>
</head>
<header class="intro"> </header>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"
	ng-controller="cloudFolderController" class="{{classe}}">
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-main-collapse">
				</button>Upload</span>
			</div> -->

<img src="../img/logo2.png" style="width: 20%; height: 20%"/>
			<div
				class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">

					<li class="hidden"><a href="#page-top"></a></li>
					<li>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post"
							target="_top">
							<input type="hidden" name="cmd" value="_s-xclick"> <input
								type="hidden" name="hosted_button_id" value="Q2TX2PCQMJSJU">
							<input type="image"
								src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif"
								border="0" name="submit"
								alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
							<img alt="" border="0"
								src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif"
								width="1" height="1">
						</form>




					</li>
				</ul>
			</div> 
		</div>
	</nav>
	<div class="modal fade" id="funcionamentoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Como funciona o KeepUpload</h4> </div>
        <div class="modal-body">
            <h4>Objetivo</h4>
            <p title="Todos os arquivos serão deletado automaticamente após 7 dias.">Nosso objetivo é armazenar arquivos por tempo limitado<b >*</b>, e lhe fornecer um seguro e fácil acesso à eles.</p>
            <h4>De que forma atingimos nosso Objetivo?</h4>
            <p> Ao clicar no botão "Criar Minha Pasta" você terá 100 MB de armazenamento disponível nessa pasta.</p>
            <p> Após selecionar todos os arquivos que deseja armazenar, você deve clicar em "Fazer Upload".</p>
            <p> Nesse momento será feito o Upload de seus arquivos e será gerado um Link de acesso rápido à eles. Lembre-se, essa pasta não poderá ser editada. </p>
            <p> <h5> Você é livre para criar quantas pastas achar necessário.  </h5></p>  
          <h4>Opções para sua Pasta</h4>
          <p><b>"Proteger essa pasta com senha."</b> - Essa opção lhe permite definir uma senha onde somente as pessoas que portarem essa senha terão acesso à pasta.</p>
          <p><b>"Enviar por Email."</b> - Caso essa opção seja selecionada e um email será enviado contendo as informações de para acesso à sua pasta.</p>
          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Entendi</button>
          
        </div>
    </div>
</div>
</div>
	<div id="myModal" class="modal">
		<div class="modal" id="modalFolder">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Arquivos disponíveis nesta pasta</h4>
				</div>
				<div class="modal-body" id="uplo">
					<p>Os arquivos serão deletados em: {{dataExpiracao}}</p>
					<p class="text-warning">
						<small>
							<div class="row">
								<div class="panel panel-primary filterable">

									<table class="table">
										<thead>
											<tr>
												<th></th>
												<th>Nome</th>
												<th>Tamanho(bytes)</th>
												<th>Baixar</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="x in valor">
												<td><input type="checkbox" value="{{x.key}}"
													ng-model="modelo[x.key]" ng-checked="x.checked"
													name="arquivos" /></td>
												<td>{{ x.file }}</td>
												<td>{{ x.size }}</td>
												<td><a ng-click="gkey(x.key)" class="btn btn-primary-outline">Baixar </a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</small>
				</div>
				<div class="modal-footer">
					<button type="button" id="downAll" class="btn btn-primary"
						ng-click="getZip()">Baixar selecionados (.zip)</button>
				</div>
			</div>
		</div>
	</div>
	
	
</body>
</html>
