<!DOCTYPE html>
<html ng-app="uploadFiles" id="html1">
<head>
<meta charset="utf-8">
<title>Keep Upload!</title>
<link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="libs/css/style_protected.css" rel="stylesheet">
<link href="libs/css/loader.css" rel="stylesheet">
<link href="libs/css/dropzone.css" rel="stylesheet">
<link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css">

<script src="libs/angular.js"></script>
<script src="libs/jquery-1.12.1.min.js"></script>

<script src="libs/bootstrap/js/bootstrap.min.js"></script>

<script src="libs/angular-route.min.js"></script>
<script src="libs/angular-cookies.min.js"></script>
<script src="libs/angular-messages.min.js"></script>

<script src="js/appUpload.js"></script>
<script src="js/controllers/uploadController.js"></script>
<script src="libs/dropzone.js"></script>
<script src="libs/customDropzone.js"></script>

<style>
.btn {
	text-transform: capitalize;
}
</style>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"
	ng-controller="uploadController" id="bodyId">
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<img src="../img/logo2.png" style="width: 20%; height: 20%" />
			<div
				class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">

					<li class="hidden"><a href="#page-top"></a></li>
					<li><a href="#term" data-toggle="modal"
						data-target="#funcionamentoModal">Como funciona?</a></li>
					<li><a href="#contact" data-toggle="modal"
						data-target="#contact">Contato</a></li>
					<li>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post"
							target="_top">
							<input type="hidden" name="cmd" value="_s-xclick"> <input
								type="hidden" name="hosted_button_id" value="Q2TX2PCQMJSJU">
							<input type="image"
								src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif"
								border="0" name="submit"
								alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
							<img alt="" border="0"
								src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif"
								width="1" height="1">
						</form>




					</li>

				</ul>
			</div>
			<!-- <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-main-collapse">
					
				</button>
				<h3><span>Keep Upload</span></h3>
				
			</div> -->

		</div>
	</nav>

	<header class="intro">
		<div class="intro-body">
			<div class="container">
				<div>
					<div>
						<!-- MAKEDIR() -->
						<button type="button" ng-click="makeDir()" id="criarPasta"
							class="btn btn-primary btn-lg" data-toggle="modal"
							data-target="#myModal" data-backdrop="static"
							data-keyboard="false">Criar minha pasta</button>
					</div>

				</div>

			</div>

		</div>

	</header>

	<div class="modal fade" id="funcionamentoModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Como funciona o
						KeepUpload</h4>
				</div>
				<div class="modal-body">
					<h4>Objetivo</h4>
					<p
						title="Todos os arquivos serão deletado automaticamente após 7 dias.">
						Nosso objetivo é armazenar arquivos por tempo limitado<b>*</b>, e
						lhe fornecer um seguro e fácil acesso à eles.
					</p>
					<h4>De que forma atingimos nosso Objetivo?</h4>
					<p>Ao clicar no botão "Criar Minha Pasta" você terá 100 MB de
						armazenamento disponível nessa pasta.</p>
					<p>Após selecionar todos os arquivos que deseja armazenar, você
						deve clicar em "Fazer Upload".</p>
					<p>Nesse momento será feito o Upload de seus arquivos e será
						gerado um Link de acesso rápido à eles. Lembre-se, essa pasta não
						poderá ser editada.</p>
					<p>
					<h5>Você é livre para criar quantas pastas achar necessário.</h5>
					</p>
					<h4>Opções para sua Pasta</h4>
					<p>
						<b>"Proteger essa pasta com senha."</b> - Essa opção lhe permite
						definir uma senha onde somente as pessoas que portarem essa senha
						terão acesso à pasta.
					</p>
					<p>
						<b>"Enviar por Email."</b> - Caso essa opção seja selecionada e um
						email será enviado contendo as informações de para acesso à sua
						pasta.
					</p>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Entendi</button>

				</div>
			</div>
		</div>
	</div>




	<div id="myModal" class="modal fade" ng-show="sdN.length">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<input type="hidden" name="key" id="chave" value="{{sdN}}">
					<!-- <h4 class="modal-title">http://keepupload.com/folder.html?key={{sdN}}</h4> -->
					<h4 class="modal-title">Insira aqui os arquivos que deseja
						compartilhar</h4>
				</div>
				<div class="modal-body" id="uplo">
					<h5>
						Armazenamento disponível nesta pasta <span
							class="label label-default" id="armazena"> 100 MB </span>
					</h5>
					<form name="formCheck">
						<input type="checkbox" name="pass" id="protegeSenha"
							onClick="mostrarSenha()" value="Proteger essa pasta com senha."><label
							for="pass">Proteger essa pasta com senha.</label> </br>
						<div id="minhaSenha" class="hidden input-group">
							<input class="form-control" placeholder="Senha"
								ng-model="senhaDiretorio" aria-describedby="sizing-addon3"
								type="password" name="inputSenha" id="inputSenha"
								ng-minlength="6">
							<div ng-show="!formCheck.inputSenha.$valid">
								<div class="alert alert-danger">A senha deve conter pelo
									menos 6 caracteres!</div>
							</div>
						</div>
						<br> <input type="checkbox" name="mail" id="enviarEmailForm"
							value="Envie um email com as informações de acesso."
							onClick="mostrarEmail()"><label for="mail"
							data-toggle="tooltip" data-placement="right">Envie por
							email essas informações.</label></br>
						<!-- Utiliza o ng-messages para validar o email -->
						<div id="meuEmail" class="hidden input-group">
							<span class="input-group-addon" aria-describedby="sizing-addon3">@</span>
							<input class="form-control" placeholder="Email"
								ng-model="receberEmailVar.to" aria-describedby="sizing-addon3"
								type="email" name="eMail" id="inputEmail"
								ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
						</div>
						<div ng-messages="formCheck.eMail.$error"
							ng-if="formCheck.eMail.$dirty">
							<div ng-message="pattern" class="alert alert-danger">Verifique
								o email</div>
						</div>
					</form>
					<div class="progress progress-striped">
						<div class="{{classeProgress}}" style="width: {{porcentagem">
							<span>{{porcentagem}}% Armazenamento utilizado</span>
						</div>
					</div>
					<form action="a" class="dropzone" id="myAwesomeDropzone"></form>
				</div>
				<div class="modal-footer">
					<div class="progress">
						<div class="progress-bar progress-bar-info progress-bar-striped"
							role="progressbar" aria-valuenow="70" aria-valuemin="0"
							aria-valuemax="100" id="progress"></div>
					</div>
					<button type="button" id="uploadAll" class="btn btn-primary ">Fazer
						Upload</button>

					<button type="button" id="nextStep" class="btn btn-primary "
						ng-click="closeDir()" style="display: none;">Finalizar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="secondModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" onClick="redir()">×</button>
					<h3 id="myModalLabel">Parabéns!</h3>
				</div>
				<div class="modal-body">
					<p>Abaixo o link para acessar seus arquivos.</p>
					<h5>
						<h3>
							<span class="label label-info">http://keepupload.com/folder.html?key={{sdN}}</span>
						</h3>
					</h5>
					<p>Obrigado por utilizar o KeepUpload.com :D</p>

				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
		
		var mostrarEmail = function(){
			//To show it: $("#myId").removeClass('hidden');
			//To hide it: $("#myId").addClass('hidden');sa
			//To toggle it: $("#myId").toggleClass('hidden');
			if(document.getElementById('enviarEmailForm').checked == true){
				$("#meuEmail").removeClass('hidden');	
			} else {
				document.getElementById('inputEmail').value = '';
				$("#meuEmail").addClass('hidden');
			}
		}
		var mostrarSenha = function(){
			//To show it: $("#myId").removeClass('hidden');
			//To hide it: $("#myId").addClass('hidden');sa
			//To toggle it: $("#myId").toggleClass('hidden');
			if(document.getElementById('protegeSenha').checked == true){
				$("#minhaSenha").removeClass('hidden');	
			} else {
				document.getElementById('inputSenha').value = '';
				$("#minhaSenha").addClass('hidden');
			}
		}
	</script>
	<!-- MODAL CONTATO -->

	<div id="contact" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body" id="modalContact">

					<form class="form-horizontal" method="post">
						<fieldset>
							<legend class="text-center header">Contato</legend>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
									class="fa fa-user bigicon"></i></span>
								<div class="col-md-8">
									<input ng-model="email.nome" id="fname" name="name" type="text"
										placeholder="Nome" class="form-control">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
									class="fa fa-envelope-o bigicon"></i></span>
								<div class="col-md-8">
									<input ng-model="email.email" id="email" name="email"
										type="text" placeholder="Email" class="form-control">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
									class="fa fa-pencil-square-o bigicon"></i></span>
								<div class="col-md-8">
									<textarea ng-model="email.texto" class="form-control"
										id="message" name="message"
										placeholder="Insira sua mensagem. Retornaremos o mais breve possível."
										rows="7"></textarea>
								</div>
							</div>

							<div class="form-group">

								<div class="alert alert-success" style="display: none"
									id="statusMsg" align="center">
									Mensagem enviada com <strong>sucesso</strong>!
								</div>
								<div class="alert alert-warning" style="display: none"
									id="statusMsgErr" align="center">
									Falha ao enviar a mensagem, tente novamente mais tarde ou envie
									um email para <strong>contato@keepupload.com</strong>
								</div>
								<div class="col-md-12 text-center">
									<div class="loader" id="loader" style="display: none"
										align="center"></div>
									<button type="submit" class="btn btn-primary btn-lg"
										align="center" ng-click="envMail()" id="btnEnviar">Enviar</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
